@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-image: url(../images/bgimg8.jpg); 
 background-size: cover;
}
header{
  background-color: #9557B9;
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}
h1{
  margin-left: 10px;
  font-size: 30px;
  color: white;
}
#logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px
}

table, th, td ,tr{
  border: 1px solid;
  padding: 8px;
}
table {
  width: 90%;
  margin-left: 80px;
  margin-top: 30px;
  font-size: 14px;
  
}
 table {
  border-collapse: collapse;
} 
table tr:nth-child(even) {
  background-color: #e7c8f9;
}
table tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}
 table th{
  color: white;
  border-left:white;
  background-color:#9557B9;
  text-align: center;
  border-top: black;
}
table td{
  text-align: center;
  font-weight: 530;
}
  
  
  #searchBox{
    width: 210px;
    height: 30px;
    background-color:#f2f1f2;
    border: 1px solid black;
     border-radius: 6px; 
     margin-top: 30px;
     margin-left: 80px;
   padding-left: 6px;
 }
  .icon{
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-right: 30px;
  }
  #lastcell{
    border-right: black;
  }
  h2{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    color: #5e5960;
  }
  #printbtn{
    /* position: relative; */
    /* position: fixed;
    margin-left: 1360px;
    margin-top: -338px; */
    /* position: absolute;
    margin-left: 1364px;
    margin-top: -130px; */
    float: right;
    width: 100px;
    height: 30px;
    /* margin-right: 75px; */
    cursor: pointer;
   /*margin-top: -250px;*/
   /* margin-top: -130px; */
   font-weight: 550;
   border-radius: 4px;
   background-color: rgb(238, 233, 233);
   margin-top:-210px;
   margin-right: 70px;
  }
  #printbtn:hover{
    box-shadow: 2px 2px 1px 1px rgb(188, 186, 186);
  }
  #lastcell{
    border-right: black;
  }
  #firstcell{
    border-left: black;
    width: 65px;
    text-align: center;
  }
  .change{
    background-color: rgb(232, 225, 225);
    color: black;
    font-weight: 550;
    border-radius: 6px;
    cursor: pointer;
    width: 95px;
}
  .change:hover{
    background-color:rgb(213, 206, 206) ;
    box-shadow: 1px 1px 1px 1px #b5aeae;
  }
  