@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-image: url(../images/bgimg8.jpg); 
 background-size: cover;
}

header{
  background-color: #9557B9;
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}
h1{
  margin-left: 10px;
  font-size: 30px;
  color: white;
}
#logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px
}
h2{
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  color: #5e5960;
}

 table, th, td ,tr{
    border: 1px solid;
    padding: 8px;
}
  table {
    width: 90%;
    margin-left: 80px;
    margin-top: 30px;
    font-size: 14px;
    border-collapse: collapse;
    
  }
   
  table tr:nth-child(even) {
    background-color: #e7c8f9;
}
  table tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    /* background-color:#9557B9; */
    color: black;

  }
   table th{
    color: white;
    border-left:white;
    background-color:#9557B9;
    text-align: center;
    border-top: black;
  }
  table td{
    font-weight: 500;
  }
  #lastcell{
    border-right: 1px solid black;
  }
  #firstcell{
    border-left: 1px solid black;
  }
  
  #searchBox{
    width: 220px;
    height: 30px;
    background-color:#f2f1f2;
     border-radius: 6px; 
     margin-top: 30px;
     margin-left: 80px;
   padding-left: 6px;
  }
  .icon{
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-right: 30px;
  }
  .pay{
    background-color: rgb(232, 225, 225);
    color: black;
    font-weight: 550;
    border-radius: 6px;
    cursor: pointer;
    width: 95px;
    text-decoration: none;

  }
  .pay:hover{
    background-color:rgb(213, 206, 206) ;
    box-shadow: 1px 1px 1px 1px #b5aeae;
  }
  
  /* .rotatecell{
     transform: rotate(-30deg); 
    /* height:60px;
    width: 80px; */
 
  
  #namecell{
    width: 220px;
  }
  /* th.rotatecell {
    height: 80px;
    white-space: nowrap;
}

th.rotatecell > div {
    transform: rotate(-30deg);
    width: 70px;
    margin-left: -5px;
    text-align: left;
} */






  